<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insertar nuevo registro</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<style>
		body{
			background-color: black;
		}
		h2{
			color: white;
		}
		h3{
			color: white;
			font-family: Segoe UI;
		}
		label{
			color: white;
			font-family: Segoe UI;
		}
		.customDiv{
			background-color: gray;
		}
		p{
			color: white;
			font-family: Segoe UI;
		}
		.c{
			font-family: Segoe UI;
		}
		.container-fluid{
			padding-left: 0 !important;
			padding-right: 0;
		}
		.form-inline{
			margin-right: 3%;
		}
		.collapse.navbar-collapse{
			margin-left: 2%;
		}
		.navbar-brand{
			margin-left: 3%;
		}
		.nav-item.nav-link.active{
			margin-right: 6%;
			padding-left: 0;
		}
	</style>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Sistema gestor</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" th:href="@{'/home/'}">Home <span class="sr-only">(current)</span></a> 
				<a class="nav-item nav-link" th:href="@{'/coches/'}">Coches</a>
				<a class="nav-item nav-link" th:href="@{'/carreras/'}">Carreras</a> 
				<a class="nav-item nav-link" th:href="@{'/participaciones/'}">Participaciones</a>
				<!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
			</div>
		</div>
		<form class="form-inline" method="GET" th:action="@{'/participaciones/search/'}">
		    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 mb-3 mt-3 text-center">
				<h2>Agregar un coche</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<form action="#" enctype="multipart/form-data" th:action="@{/coches/addCar}" th:object="${cocheModel}" method="POST">
					<input type="hidden" th:field="*{id}"/>
					<div class="form-group row">
						<label class="col-md-2 col-form-label" for="mat">Matrícula</label>
						<div class="col-md-10">
							<input class="form-control" type="text" id="mat" name="matricula" th:field="*{matricula}" placeholder="Example: AAA0000"/>
							<p class="text-center" th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label" for="marca">Marca</label>
						<div class="col-md-10">
							<input class="form-control" type="text" id="marca" name="marca" th:field="*{marca}" placeholder="Example: Opel"/>
							<p class="text-center" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label" for="modelo">Modelo</label>
						<div class="col-md-10">
							<input class="form-control" type="text" id="modelo" name="modelo" th:field="*{modelo}" placeholder="Example: Corsa"/>
							<p class="text-center" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label" for="color">Color</label>
						<div class="col-md-10">
							<input class="form-control" type="text" id="color" name="color" th:field="*{color}" placeholder="Example: Rojo"/>
							<p class="text-center" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label" for="potencia">Potencia</label>
						<div class="col-md-10">
							<input class="form-control" type="number" id="potencia" name="potencia" th:field="*{potencia}"/>
							<p class="text-center" th:if="${#fields.hasErrors('potencia')}" th:errors="*{potencia}"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-2 col-form-label" for="foto">Imagen</label>
						<div class="col-md-10">
							<input class="form-control" type="file" id="foto" name="file"/>
							
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-12 text-center">
							<button type="submit" class="btn btn-primary mt-3 mb-3">Agregar</button>
							<a class="float-left mt-4" th:href="@{'/coches/'}"><i class="fas fa-chevron-left"> </i> Atrás</a>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 offset-col-2 mx-auto text-center">
				<p th:if="${insert == 0}">No se pudo agregar el coche porque ya existe un registro con esa matrícula</p>
			</div>
		</div>
	</div>
</body>
</html>