<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/coches/editCar}" th:object="${cocheModel}" method="POST">
			<p>Matrícula: <input type="text" value="${cocheModel.matricula}" th:field="*{matricula}"/></p>
			<p>Marca: <input type="text" value="${cocheModel.marca}" th:field="*{marca}"/></p>
			<p th:if="${#fields.hasErrors('marca')}" th:errors="*{marcaa}"/></p>
			<p>Modelo: <input type="text" value="${cocheModel.modelo}" th:field="*{modelo}"/></p>
			<p th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"/></p>
			<p>Color: <input type="text" value="${cocheModel.color}" th:field="*{color}"/></p>
			<p th:if="${#fields.hasErrors('color')}" th:errors="*{color}"/></p>
			<p>Potencia: <input type="number" value="${cocheModel.potencia}" th:field="*{potencia}"/></p>
			<p th:if="${#fields.hasErrors('potencia')}" th:errors="*{potencia}"/></p>
			<p>Foto: <input type="file" value="${cocheModel.foto}" th:field="*{foto}"/></p>
			<p th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}"></p>
			<p><input type="submit" value="Editar"></p>
	</form>
</body>
</html>