<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listado de coches</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
	<table>
		<tr>
			<th>Matrícula</th>
			<th>Marca</th>
			<th>Modelo</th>
			<th>Color</th>
			<th>Potencia</th>
			<th>Foto</th>
			<th></th>
			<th></th>			
		</tr>
		<tr th:each="coche : ${cochesModel}">
			<td><span th:text="${coche.matricula}">Matricula</span></td>
			<td><span th:text="${coche.marca}">Marca</span></td>
			<td><span th:text="${coche.modelo}">Modelo</span></td>
			<td><span th:text="${coche.color}">Color</span></td>
			<td><span th:text="${coche.potencia}">Potencia</span></td>
			<td><span th:text="${coche.foto}">Foto</span></td>
			<td><a th:href="@{'/coches/editCars/' + ${coche.matricula}}"><i class="far fa-edit"></i></a></td>
			<td><a th:href="@{'/coches/deleteCar/' + ${coche.matricula}}"><i class="far fa-trash-alt"></i></a></td>
		</tr>
		<tr>
			<td><span th:if="${edicion == 1}">Se realizó la edición con éxito</span></td>
			<!-- <td><span th:if="${edicion == 2}">No se pudo editar el registro</span></td> -->
			<td><span th:if="${borrado == true}">Se eliminó el registro con éxito</span></td>
			<td><span th:if="${borrado == false}">No se pudo eliminar el registro</span></td>
			<td><span th:if="${insert == 1}">Se agregó con éxito el registro</span></td>
		</tr>
	</table>
</body>
</html>